[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.3"
python-decouple = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "==2.8"

[requires]
python_version = "3.7"
